body{
  background-color: #F79F81;
}
table{
  border: #FA5882 2px solid;
  width: 500px;
  height: 400px;
}
.circulo {
     width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #5cb85c;
}
